<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">This is the base title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/use-bootstrap-select@2.2.1/dist/use-bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/use-bootstrap-select@2.2.1/dist/use-bootstrap-select.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<!--/*@thymesVar id="navItems" type="java.util.List<nl.miwnn.ch17.tactischetanuki.koala_kitchen_creations.model.NavItem>"*/-->
<nav th:fragment="navbar(navItems, activeItem)" class="navbar navbar-expand-lg navbar-light sticky-top
        justify-content-center fs-3" style="background-color: rgb(214,206,181);">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}" style="margin-left:251px;">
            <img th:src="@{/images/logoKoalaKitchenCreations.png}" alt="KoalaKitchenCreations" style="height:80px;" >
        </a>
    </div>

    <ul class="navbar-nav mr-auto" style="margin-right: 253px;">

        <li class="nav-item" th:each="navItem : ${navItems}">
            <a class="nav-link" th:classappend="${activeItem == navItem.name} ? 'active'"
               th:href="@{${navItem.href}}" th:text="${navItem.name}" ></a>
        </li>
    </ul>
</nav>

<footer th:fragment="footer" class="page-footer w-100 py-3">
    <p class="text-center text-muted">
    Copyright Tactische Tanuki (Jantine van der Schaaf &amp; Josse Muller) &copy;2025
    </p>
</footer>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>