<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">This is the base title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<nav th:fragment="navbar" class="sticky-top page-navbar navbar-light bg-light">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/recipe/all}">Recipes</a>
        </li>
    </ul>
</nav>

<footer th:fragment="footer" class="page-footer w-100 py-3">
    <p class="text-center text-muted">
    Copyright Tactische Tanuki (Jantine van der Schaaf &amp; Josse Muller) &copy;2025
    </p>
</footer>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>