<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/use-bootstrap-select@2.2.1/dist/use-bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/use-bootstrap-select@2.2.1/dist/use-bootstrap-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

<!--/* @thymesVar id="navItems" type="java.util.List<nl.miwnn.ch17.tactischetanuki.koala_kitchen_creations.model.NavItem>" */-->
<nav th:fragment="navbar(navItems, activeItem)" class="navbar navbar-expand-lg navbar-light sticky-top
        justify-content-center fs-3 w-100" style="background-color: var(--navbar-color);" id="navbar">
    <div class="container-fluid justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="col-lg-8 col-md-10 col-sm-12 align-items-center d-flex flex-wrap flex-lg-nowrap">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/logoKoalaKitchenCreations.png}" alt="KoalaKitchenCreations" style="height:80px;" >
                </a>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100  w-lg-auto flex-lg-grow-1" id="navbarItems">
                <ul class="navbar-nav ms-auto">

                    <th:block th:each="navItem : ${navItems}">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${activeItem == navItem.name} ? 'active navbar-active'"
                               th:href="@{${navItem.href}}" th:text="${navItem.name}"></a>
                        </li>
                    </th:block>
                    <li>
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">
                            Logout <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </div>

    </div>


</nav>

<footer th:fragment="footer" class="page-footer w-100 py-3">
    <p class="text-center text-muted">
    Copyright Tactische Tanuki (Jantine van der Schaaf &amp; Josse Muller) &copy;2025
    </p>
</footer>

<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="/js/stickyTop.js"></script>
</div>

</body>
</html>