:root {
    --main-color: #ea5c21;
    --light-color: #f3dfd7;
}

* {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page-footer {
    background-color: var(--light-color);
    color: white;
}
.page-navbar {
    border-bottom: 1px solid var(--main-color);
}
.page-footer > p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.page-body {
    padding: 20px;
}
.bottom-scripts {
    display: none;
}