<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${recipe.name}"></title>
</head>

<body>
<div class="page-wrapper">
    <nav th:replace="~{fragments/general :: navbar(${navItems}, '')}"></nav>
    <div>
        <div class="w-100">
            <img th:src="${recipe.imageURL}" class="img-fluid w-100 banner-img">
        </div>

        <main class="container-fluid py-4">
            <div class="row">
                <div class="col-md-1 col-lg-2">
                </div>
                <div class="col-12 col-md-10 col-lg-8">
                    <h1 class="text-center">
                        <span th:text="${recipe.name}" />
                    </h1>
                    <h3>By <span th:text="${recipe.author.username}" /></h3>
                    <h4 th:if="${recipe.categories.size() > 0}">
                        Categories:
                        <a th:each="category : *{recipe.categories}"
                           class="nav-link active badge category-tag rounded-pill text-decoration-none me-2"
                           th:href="@{/category/{categoryName}/recipes(categoryName=${category})}"
                           th:text="${category}"/>
                    </h4>
                    <p class="lead mt-3" th:text="${recipe.description}"></p>
                    <div class="container overflow-hidden">
                        <div class="row g-2">
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="p-3">
                                    <b>Ingredients for <span th:text="${recipe.numberOfPortions}"/> portions</b>
                                    <div class="btn-group" role="group" aria-label="Change number of portions">
                                    <a class="btn btn-sm btn-outline-danger bi bi-dash-circle"
                                       th:classappend="${recipe.numberOfPortions < 2 ? 'disabled' : null}"
                                        th:href="@{/recipe/detail/{recipeId}/portionCount/{portionCount}
                                        (recipeId=*{recipeId}, portionCount=${recipe.numberOfPortions+(-1)})}"
                                        >

                                    </a>
                                    <a class="btn btn-sm btn-outline-success bi bi-plus-circle"
                                       th:href="@{/recipe/detail/{recipeId}/portionCount/{portionCount}
                                       (recipeId=*{recipeId}, portionCount=${recipe.numberOfPortions+1})}">

                                    </a>
                                    </div>
                                </div>
                                <ul>
                                    <li th:each="recipeIngredient : ${recipe.recipeIngredients}">
                                        <span th:text="${recipeIngredient.name}"></span>
                                        <i th:text="${recipeIngredient.quantity} % 1 == 0 ?
                                         ${#numbers.formatDecimal(recipeIngredient.quantity, 0, 0)}
                                         :${#numbers.formatDecimal(recipeIngredient.quantity, 0, 1)}"></i>
<!--                                        <i th:text="${#numbers.formatDecimal(recipeIngredient.quantity, 0, 2)}"></i>-->
                                        <i th:text="${recipeIngredient.unit}"></i>
                                </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-8 col-lg-8">
                                <div class="p-3">Method</div>
                                <ol>
                                    <li th:each="recipeStep : *{recipe.recipeSteps}" th:text="${recipeStep}">
                                    </li>
                                </ol>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-1 col-lg-2 justify-content-center p-0">
                    <aside class="sticky-top d-grid dynamic-sticky-top justify-content-center">
                        <div class="d-flex flex-column flex-shrink-1 gap-2 pt-4" sec:authorize="isAuthenticated()" >
                            <a th:if="${isFavorite}"
                               th:href="@{'/recipe/' + ${recipe.recipeId} + '/favorite/remove'}"
                               class="btn btn-warning">
                                ★ Remove
                            </a>
                            <a th:unless="${isFavorite}"
                               th:href="@{'/recipe/' + ${recipe.recipeId} + '/favorite/add'}"
                               class="btn btn-warning">
                                ☆ Add
                            </a>
                            <a class="btn btn-primary btn-wrap" th:href="@{/recipe/edit/{recipeId}(recipeId=*{recipeId})}"
                                th:if="${userCanEditRecipe}">
                                Edit
                            </a>
                            <a class="btn btn-primary btn-wrap" th:href="@{/recipe/copy/{recipeId}(recipeId=*{recipeId})}"
                                th:unless="${userCanEditRecipe}">
                                Edit copy
                            </a>
                            <a class="btn btn-wrap btn-danger" th:if="${userCanEditRecipe}"
                               th:href="@{/recipe/delete/{recipeId}(recipeId=*{recipeId})}">
                                Delete
                            </a>
                        </div>
                    </aside>
                </div>
            </div>
        </main>
    </div>


    <footer th:replace="~{fragments/general :: footer}"></footer>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>
</div>
</body>
</html>